#include <winver.h>
#include <winuser.h>
#include "../include/resources.h"

// Application manifest
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

IDI_ICON ICON   "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION
PRODUCTVERSION  APP_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "I love Mahou Shoujo Lyrical Nanoha"
            VALUE "FileDescription", "BLUE REFLECTION Quartet Launcher Wrapper"
            VALUE "FileVersion", APP_VERSION_STR
            VALUE "InternalName", "br-quartet-launcher.exe"
            VALUE "LegalCopyright", "Brasileiro"
            VALUE "OriginalFilename", "br-quartet-launcher.exe"
            VALUE "ProductName", "br-quartet-launcher"
            VALUE "ProductVersion", APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
